# ST-Link/V2 最终稳定版
source [find interface/stlink.cfg]

# 老ST-Link必须用这个，解决SWD不兼容
transport select hla_swd

# 降低速度，防止通信失败
adapter speed 1000

# STM32F4 芯片配置
source [find target/stm32f4x.cfg]

# 关键：强制硬件复位，解决无法连接
reset_config connect_assert_srst